---
layout: default
title: News
---

{% for collection in site.collections %}
{% if collection.docs.size > 0 and collection.title=="News" %}
<section id="posts">
{% for post in collection.docs %}
  <div class="post-list-item">
    {% if post.link %}
    <a href="{{ post.link }}">
    {% else %}
    <a href="{{ post.url | prepend: site.baseurl }}">
    {% endif %}
      <div class="post-list-item-date">
        <time>{{ post.date | date_to_string }}</time>
      </div>
      <div class="post-list-item-title">
        {{ post.title }}
      </div>
      {% if post.description %}
      <div class="post-list-item-desc">
        {{ post.description }}
      </div>
      {% endif %}
    </a>
  </div>
      {% endfor %}
</section>
{% endif %}
{% endfor %}
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/' | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}