---
layout: compress
---

{% include head.html %}

    <main>

        {% include header.html %}

        <h3>{{ page.title }}</h3>

        <hr>

        {{ page.content }}

        {% for post in site.posts %}
            <article>
                <h3 class="arth2"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                <span class="mini-note">{{ post.parent }}</span>
            </article>
        {% endfor %}

    </main>

  
    {% include footer.html %}

</body>
</html>
